<div class="know-me text-center feature-title">
    <a href="about.html" class="btn btn-primary">Learn more about me</a>
</div>
<footer class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="col2">
                <ul class="bl-links">
                    <li><h3>EXPLORE</h3></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Process</a></li>
                    <li><a href="#">Journal</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col2">
                <ul class="bl-links">
                    <li><h3>ELSEWHERE</h3></li>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">Dribbble</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Codepen</a></li>
                </ul>
            </div>
            <div class="col3">
                <ul class="bl-links">
                    <li><h3>ENTRIES</h3></li>
                    <li><a href="#">Here we go again</a></li>
                    <li><a href="#">Front End Resources</a></li>
                    <li><a href="#">What's your workflow look like?</a></li>
                    <li><a href="#">How to sell yourself</a></li>
                </ul>
            </div>
            <div class="col5">
                <p>
                    I'm Dan Malarkey and I'm a digital product designer (and front end developer)
                    tending to a whiteboard in Jacksonville, Florida. I do a lot of cool stuff at
                    <a href="http://feature23.com" target="_blank">feature[23]</a>. I'd love to know
                    more about your business goals, <a href="mailto:hello@danmalarkey.com" class="email">so let's talk.</a>
                </p>
            </div>
        </div>
        <hr />
        <p class="c-w">
            © 2015. Dan Malarkey Design. <span class="fa fa-heart"></span>
        </p>
    </div>
</footer>
<!-- All your Bundled up JS -->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/global.js"></script>
</body>
</html>